**/__pycache__
*.pyc
venv
.idea
bak/oc-lettings-site.sqlite3.bak
/tmp/
/.circleci/trash
/Grégory_Mariani_1_repo_062023.txt
/Grégory_Mariani_2_cicd_062023.txt
/Grégory_Mariani_3_deploiement_062023.txt
/Grégory_Mariani_4_sentry_062023.txt
/Grégory_Mariani_Mettez_à_l'échelle_une_application_Django_en_utilisant_une_architecture_modulaire_062023.zip
/TP13.odp
/~$TP13.odp
